.view-playground .view-checkbox:last-child .view-checkbox__label {
    margin-right: 0;
}

.view-playground {
    height: calc(100vh - 130px);
    display: grid;
    grid-template:
        'query-editor stat'
        'compiled-code ast';
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
}

/* QUERY EDITOR */
.view-playground > .query-editor {
    grid-area: query-editor;
    overflow: hidden;
}
.view-playground > .query-editor > .query-editor__toolbar {
    display: flex;
}
.view-playground > .query-editor > .query-editor__toolbar > :first-child {
    flex: 1;
}
.view-playground > .query-editor .discovery-editor .CodeMirror-scroll {
    max-height: calc((100vh - 170px) / 2);
}
.view-playground > .query-editor .CodeMirror {
    margin: 0;
}
.view-playground > .query-editor .discovery-editor-error {
    border-bottom: 1px solid rgba(255, 0, 0, .6);
    background: rgba(255, 215, 209, 0.3);
}

/* COMPILED CODE */
.view-playground > .compiled-code {
    grid-area: compiled-code;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.view-playground > .compiled-code > .compiled-code__toolbar {
    display: flex;
}
.view-playground > .compiled-code > .compiled-code__toolbar > :first-child {
    flex: 1;
}
.view-playground > .compiled-code > .compiled-code__content {
    flex: 1;
    overflow: hidden;
}
.view-playground > .compiled-code .view-source {
    height: 100%;
    box-sizing: border-box;
}
.view-playground > .compiled-code > .compiled-code__content.error {
    padding: 8px 12px;
    border-left: 3px solid rgba(255, 0, 0, .8);
    background: rgba(225,75,75,.2);
    white-space: pre-wrap;
    font-family: var(--discovery-monospace-font-family);
    font-size: 11px;
}

/* STAT */
.view-playground > .stat {
    grid-area: stat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.view-playground > .stat > .stat__content {
    flex: 1;
    overflow: hidden;
}
.view-playground > .stat > .stat__content.not-available {
    padding: 8px;
    background-color: rgba(205, 205, 205, .1);
    color: #888;
}
.view-playground > .stat > .stat__content .view-source {
    height: 100%;
    max-height: calc((100vh - 170px) / 2 + 10px);
    overflow: auto;
}
.view-playground > .stat > .stat__content .view-source__content {
    box-sizing: border-box;
    padding: 6px;
}
.view-playground > .stat > .stat__content .view-source__content .view-source__action-buttons {
    translate: 1px -1px;
}

/* AST */
.view-playground > .ast {
    grid-area: ast;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.view-playground > .ast > .ast__content {
    flex: 1;
    overflow: auto;
    background-color: rgba(205, 205, 205, .1);
}
.view-playground > .ast > .ast__content.not-available {
    padding: 8px;
    color: #888;
}
.view-playground > .ast > .ast__content > .view-struct.struct-expanded-value {
    background-color: transparent;
}
