.page-article .article-path {
    display: block;
    margin-top: -10px;
    color: light-dark(#555, #bbb);
}
.page-article .article-path .view-list-item:not(:first-child)::before {
    content: '/';
    font-size: 80%;
    font-weight: normal;
    padding: .65ex;
    color: #888;
}

.page-article .prev-next-nav {
    display: inline-flex;
    gap: 4px 0;
    margin-top: 2em;
}
.page-article .prev-next-nav .prev-button::before {
    content: "\2190 ";
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Tahoma, sans-serif;
    padding-right: .6ex;
}
.page-article .prev-next-nav .next-button::after {
    content: "\2192 ";
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Tahoma, sans-serif;
    padding-left: .6ex;
}

.page-article .view-page-header {
    top: 0;
}
.page-article .view-page-header::before {
    margin-top: -10px;
}
.page-article .view-page-header__content {
    display: flex;
    align-items: center;
    gap: 1ex;
    padding-bottom: 2px;
}
.page-article .view-page-header__content .view-header {
    line-height: 1.2;
    @media (width < 768px) {
        font-size: 28px;
    }
}
.page-article .scroll-to-top {
    margin-top: 5px;
    transition: .25s ease-in;
    transition-property: opacity, visibility;
    opacity: 0;
    visibility: hidden;
}
.page-article.page_overscrolled .scroll-to-top {
    opacity: 1;
    visibility: visible;
}
.page-article .scroll-to-top-button {
    font-size: 12px;
    padding: 4px 8px;
}

.page-article .toc-section-header {
    text-transform: uppercase;
    font-size: 11px;
    opacity: .85;
    margin: 8px 0 0 0;
}
.page-article .toc-group-item {
    white-space: nowrap;
    margin-right: 1ex;
}
.page-article .toc-group {
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0 .75ex;
}
.page-article .toc-group::before {
    content: attr(data-litera);
    display: inline-block;
    font-family: var(--discovery-monospace-font-family);
    text-transform: uppercase;
    color: #888;
}

.page-article .toc-filter {
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    max-width: 870px;
}
.page-article .toc-filter > .view-input {
    margin-bottom: .5em;
}
.page-article .toc-filter > .content {
    padding-left: 10px;
}
.page-article .toc-filter > .content .view-list::before {
    padding: 0;
}

.page-article .toc-filter .view-text-match {
    background: #68624685;
    text-decoration-color: #8b7b42;
    border: none;
    color: #b6aa6a;
}

.page-article .view-table-cell code {
    white-space: nowrap;
}

@media (width < 768px) {
    .page-article > .view-markdown > .view-source {
        border-radius: 0;
        margin-left: calc(-1 * var(--discovery-page-padding-left));
        margin-right: calc(-1 * var(--discovery-page-padding-right));
    }
}
