.page-default > .main-layout {
    max-width: 950px;
    display: flex;
    gap: 20px;
}
.page-default > .main-layout > .column:first-child {
    flex: 1;
}
.page-default > .main-layout > .column:last-child {
    width: 250px;
    max-width: 30%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.page-default > .main-layout > .column:last-child > * {
    margin: 0;
}
