.view-markdown {
    max-width: 850px;
}
.view-markdown pre + pre {
    margin-top: 1px !important;
}
.view-markdown sup {
    vertical-align: top;
}
.view-markdown li :is(p, blockquote, table, pre):last-child {
    margin-bottom: 15px;
}
.view-markdown .view-link[target]::after {
    content: '';
    display: inline-block;
    margin-left: .2em;
    width: .75em;
    height: .75em;
    background-color: currentColor;
    --mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9ImJsYWNrIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMSI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOC42MzYgMy41YS41LjUgMCAwIDAtLjUtLjVIMS41QTEuNSAxLjUgMCAwIDAgMCA0LjV2MTBBMS41IDEuNSAwIDAgMCAxLjUgMTZoMTBhMS41IDEuNSAwIDAgMCAxLjUtMS41VjcuODY0YS41LjUgMCAwIDAtMSAwVjE0LjVhLjUuNSAwIDAgMS0uNS41aC0xMGEuNS41IDAgMCAxLS41LS41di0xMGEuNS41IDAgMCAxIC41LS41aDYuNjM2YS41LjUgMCAwIDAgLjUtLjV6Ii8+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTYgLjVhLjUuNSAwIDAgMC0uNS0uNWgtNWEuNS41IDAgMCAwIDAgMWgzLjc5M0w2LjE0NiA5LjE0NmEuNS41IDAgMSAwIC43MDguNzA4TDE1IDEuNzA3VjUuNWEuNS41IDAgMCAwIDEgMHYtNXoiLz4KPC9zdmc+");
    -webkit-mask: center / .75em no-repeat var(--mask-image);
    mask: center / .75em no-repeat var(--mask-image);
}
.view-markdown .view-h2 {
    margin-top: 1.4em;
}
.view-markdown :is(sub, sup) {
    font-size: 70%;
}
.view-markdown .changelog {
    margin-top: -15px;
    margin-bottom: -10px;
    font-size: 85%;
    color: #888;
}
.view-markdown .across-docs-examples {
    margin-top: 12px;
}
.view-markdown .across-docs-examples > .view-expand > .header {
    transition: .25s;
    transition-property: background-color, margin;
}
.view-markdown .across-docs-examples > .view-expand > .header > .trigger,
.view-markdown .across-docs-examples > .view-expand > .header > .header-content {
    transition: .25s;
    transition-property: color;
}
.view-markdown .across-docs-examples > .view-expand:not(.expanded) > .header {
    background-color: transparent;
    margin-left: 0;
}
.view-markdown .across-docs-examples > .view-expand:not(.expanded) > .header > .header-content {
    padding-left: 0;
}
.view-markdown .across-docs-examples > .view-expand:not(.expanded) > .header > .trigger {
    background-image: none;
}
.view-markdown .across-docs-examples > .view-expand:not(.expanded, :hover) > .header {
    color: #888;
}
.view-markdown .across-docs-examples > .view-expand > .content {
    padding: 8px 8px 0 0;
}
.view-markdown .across-docs-examples .view-list-item {
    font-size: 13px;
}
.view-markdown .across-docs-examples .path-to-example {
    opacity: .85;
}
.view-markdown .across-docs-examples .examples-list {
    margin: 5px 0 10px;
}
.view-markdown .across-docs-examples .examples-list .view-source {
    margin: 0 0 1px;
}

.discovery-root-darkmode .view-source .spotlight {
    background: #68624685;
    border-bottom: 1px solid #8b7b42;
    color: #b6aa6a;
}

.view-source__postlude {
    margin-top: -4px;
}
.view-struct_code-postlude {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
}
.view-struct_code-postlude:not(.struct-expanded-value, :hover) {
    background-color: transparent;
}
.view-struct_code-postlude::before {
    content: '= ';
    color: #969696a6;
}
.view-struct_code-postlude:not(.struct-expanded-value, :hover) span {
    color: #969696a6 !important;
}
