.discovery-sidebar {
    width: 250px;
}

.discovery-sidebar h2 {
    margin-top: 0;
}
.discovery-sidebar h2 .version {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin-left: 1ex;
}
.discovery-sidebar .view-tree .view-link {
    color: inherit;
    text-decoration-color: #8888;
}
.discovery-sidebar .view-tree .view-link:hover {
    text-decoration-color: currentColor;
}

.view-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}
.view-sidebar > .view-header {
    padding: 4px 16px 6px;
    margin: 0;
}
.view-sidebar > .view-tree {
    flex: 1;
    overflow: auto;
    padding: 0 12px 8px;
}
