.discovery-sidebar {
    width: 250px;
    padding: 16px;
}

.discovery-sidebar h2 {
    margin-top: 0;
}
.discovery-sidebar h2 .version {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin-left: 1ex;
}
